.coverPic{
    margin-left: 20%;
    width: 255px;
    height: 413px;
}

nav{
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}



nav{
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

button{
    border-color: azure;
    background-color: black;
}

button>a{
    color: aliceblue;
}

#bookContainer{
    display: flex;
    justify-items: center;
    margin-bottom: 30px;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}


#sample{
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: ;
    padding-left: 50px;
    padding-right: 50px;
    height: 75vh;
}
#pitch{
    padding-left: 5%;
    padding-right: 5%;
}

#tagline{
    font-weight: 100;
    font-size: large;
}

#signupBorder{
    padding: 5%;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
    #bookContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #sampleContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #sample{
        width: 100%;
        height: 80vh;
        width: 90vw;
    }
    nav{
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    button{
        margin: 5px;
    }
    .coverPic{
        margin-left: auto;
        margin-right: auto;
        width: 128px;
        height: 207px;
        padding: 0%;
    }
}

@media screen and (max-width: 550px) and (min-width: 500px) {
    .coverPic{
        margin-left: 5%;
    }
}

@media screen and (min-width: 720px) {
    #bookContainer{
       width: 750px;
       margin-left: auto;
       margin-right: auto;
    }
    #sampleContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 720px) {
    nav{
        display: flex;
        background-color: black;
        justify-content: left;
        align-items: center;
        flex-direction: row;
    }

    button{
        margin-left: 30px;
    }
}